body {
    margin: 0;
    padding: 0;
    color: #3b3b3b;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;

}
#container {
    width: 968px;
    background-color: white;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
#main_image{
background-image: url("../img/main.jpg");
background-repeat: no-repeat;
width: 968px;
height: 376px;
position: relative;
}
#left_column, #center_column, #right_column{
    width: 316px;
    float: left;
}
#center_column{
    margin: 0 10px;
}
h1 {
    font-family: sarina, sans-serif;
    padding-left: 5px;
    font-size: 96px;
    margin:0;
    float: left;
    padding-right: 30px;
}
#header
    {
        background-color: black;
        color: #fff;
        height: 100px;
        position: relative;

}
#header p {
    font-size: 30px;
    font-variant: small-caps;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10;
}
#header a {
    font-size: 20px;
    font-weight: bold;
    font-variant: small-caps;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100px;
}
#header ul {
    list-style-type: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0;

}
#header li {
    float: left;
}
#main_text{
    background-color: white;
    width: 300px;
    position: absolute;
    bottom: 60px;
    right: 60px;
    padding: 10px;
    opacity: 0.8;
    border-radius: 10px;
}
#left_column p, #center_column p, #right_column p {
    margin: 10px 0px;
}
#main_text h2 {
    color: deepskyblue;
    margin: 0;
    font-size: 18px;
    padding-bottom: 10px;


}
#main_text h3 {
    font-size: 16px;
    margin: 0;
}
#main_text p {
    line-height: 1.2em;
    margin: 0;
    text-align: justify;

}